<h1><%= @note.new_record? ? 'Создать новую заметку' : 'Редактировать заметку' %></h1>

<%= form_with(model: @note, local: true) do |form| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "ошибка") %> запретило сохранить заметку:</h2>
      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Назад', notes_path %>